@charset "UTF-8";

@font-face {
    font-family: caliste;
    src: url('../fontes/Caliste.otf') format('opentype');
    font-weight: normal;  
    font-style: normal;  
}
@font-face {
    font-family: gustavo;
    src: url('../fontes/Admire\ Gustavo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
    
@font-face {
    font-family: caliste;
    src: url('../fontes/CASTLEROCKS-Italic_Demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  
}
@font-face {
    font-family: cordel;
    src: url('../fontes/cordelina.otf') format('opentype');
    font-weight: normal; 
    font-style: normal;
}
* {
    margin: 0px;
    padding: 0px;
   
}

html, body {
    min-height: 100vh;
}
header {
    
    
    background-color: black;
    color: white;
    text-align: center;  
   
}
header > h1 {
    font-family: cordel;
    font-size: 10vw;
    padding: 50px;
    font-variant: small-caps;
}
header > p {
    font-family: cordel;
    padding-bottom: 50px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover {
    color: #3aa8f1;
}
section {
    font-family: gustavo;
    font-size: 3vw;
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
}


.normal {
    background-color: #3aa8f1;
    color: white;
}
.imagem {
    background-color:blueviolet;
    color: white;
}
.imagem > p {
    background-color: rgba(0, 0, 0, 0.26);
   display: inline-block;
   padding: 10px;
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
   
    
}